.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

img.avatar {
  position: relative;
  z-index: 1;
  height: 100px;
  width: 100px;
}

div.rival-info{
  width:200px;
  height:120px;
  padding: 5px;
  background-color: #d9e6fc;
  border-radius: 10px;
}

.rival-info > .avatar {
  position: relative;
  z-index: 1;
  height: 90px;
  width: 90px;
  background-size: 100% 100%;
  float:left;
}

.rival-info > .avatar-star{
  position: relative;
  z-index: 10;
  top: 0px;
  height: 24px;
  width: 24px;
}

.rival-info > .card {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  height: 90px;
  width: 90px;
  margin-left: 0px;
  float:right;
  background-size: 100% 100%;
}

.rival-info >.card > .num-cards{
  position: absolute;
  top: 15%;
  left: 0%;
  z-index: 3;
  height: 100%;
  width: 100%;
  font-size: 48px;
  color: green;
  text-align: center;
  vertical-align:bottom;
}

.rival-info:hover{
  transform: scale(1.05, 1.05)
}

.card:hover{
  transition: all 0.1s linear;
  transform: scale(1.05, 1.05)
}

@keyframes rotation-star {
  0% {transform:rotate(0deg) scale(1.3, 1.3);}
  100% {transform:rotate(360deg) scale(1.3, 1.3);}
}

.avatar-star:hover{
  animation-name: rotation-star;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.avatar:hover{
  transition: all 0.1s linear;
  transform: scale(1.05, 1.05)
}

.waiting-sign{
  position:absolute;;
  height: 50px;
  width: 50px;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

@keyframes waiting-sign-animation {
  0% {transform:rotate(0deg) scale(1, 1);}
  50% {transform:rotate(180deg) scale(1.4, 1.4);}
  100% {transform:rotate(360deg) scale(1, 1);}
}

.waiting-sign:hover{
  animation-name: waiting-sign-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.score-line{
  background: skyblue;
}

div[class$="score-line"]:nth-of-type(odd){background: aliceblue;}

.score-line:hover{
  border-style: solid;
  border-width: 1px;
  border-color: DodgerBlue  ;
  transform: translate(0, -3px) scale(1.01, 1.01);
}

.player-desk{
  z-index: 5;
  position: absolute;
  background-color: #d9e6fc;
  height: 40%;
  bottom: 3%;
  left:0;
  right: 0;
  margin:auto;
  padding-top: 1%;
  border-radius: 10px;
}

.player-deck > .card{
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  min-height: 80px;
  height: 120px;
  width: 14%;
  margin-left: 0px;
  float:right;
  margin-bottom: 3%;
  background-size: 100% 100%;
}

.player-deck{

}

.game-btn {
  position: relative;
  width: 150px;
  height: 60px;
  font-size: 1.5em;
}
.game-btn:hover{
  transition: all 0.1s linear;
  transform: scale(1.05, 1.05)
}

.player-deck > .card > .num-cards{
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -2%;
  right: 12%;
  background-color: green;
  text-align: center;
  color: yellow;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 3px;
}

.player-deck > .card > .num-new-cards{
  position: absolute;
  width: 40px;
  height: 40px;
  top: -8%;
  left: 4%;
  background-color: yellow;
  text-align: center;
  font-size: 2em;
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 20px;
}

.player-desk-drawer{
  z-index: -1;
  position: absolute;;
  background-color: #a1e6fc;
  height: 30%;
  width: 90%;
  top: -30%;
  left:0;
  right: 0;
  margin:auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.player-desk-drawer > .card {
  position: relative;;
  padding: auto;
  margin: auto;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0%;
  z-index: 5;
  min-height: 40px;
  height: 80px;
  width: 6.666%;
  float:right;
  background-size: 100% 100%;
}

.deck{
  position: absolute;
  padding: auto;
  margin: auto;
  right: -1%;
  top: 23%;
  min-height: 60px;
  height: 20%;
  width: 20%;
  float:right;
  background-size: 100% 100%;
}

@keyframes deck-animation {
  0% {transform:rotateY(0) translate(0%, 0%)}
  10% {transform:rotateY(0) translate(3%, 6%);}
  50% {transform:rotateY(180deg) translate(3%, 6%);}
  90% {transform:rotateY(-0) translate(3%, 5%);}
  100% {transform:rotateY(0) translate(0%, 0%);}
}

.deck:hover{
  transform-style: preserve-3d;
  animation-name: deck-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timer{
  position: absolute;
  padding: auto;
  margin: auto;
  left: -1%;
  top: 23%;
  min-height: 60px;
  height: 20%;
  width: 20%;
  float:right;
  background-size: 100% 100%;
}

.timer > .time {
  position: relative;
  padding: auto;
  margin: auto;
  left: 3%;
  right: 0%;
  top: 55%;
  height: auto;;
  width: 100%;
  font-size: 2em;
  color: black;
  text-align: center;
  vertical-align: middle;
}


@keyframes clock-animation {
  0% {transform:rotateY(0);}
  50% {transform:rotateY(360deg) ;}
  100% {transform:rotateY(0) ;}
}

.timer:hover{
  transform-style: preserve-3d;
  animation-name: clock-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.deck> .num-cards{
  position: absolute;
  padding: auto;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 35%;
  bottom: 0%;
  height: 100%;
  width: 100%;
  font-size: 420%;
  color: red;
  text-align: center;
  vertical-align: middle;
}

.player-desk1:hover {
  transition: all 1s linear;
  transform: translate(0, 100%);
  visibility: hidden;
}

#my_text_id {
  position: relative;;
  left: 40%;
  top: 40%;
  -webkit-transform: translate(10%,40%); /** Safari & Chrome **/
  -o-transform: translate(0,0); /** Opera **/
  -moz-transform: translate(0,0); /** Firefox **/
}
