<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="userscore.css">
</head>
<body>
    <form class="userScore">
        <span class="text_in_user_score piece">
            100
        </span>
        <img class="user_score_image" src="../../resource/image/UserTop.svg">
        <span class="text_in_user_score nick_name">
            Nick Name
        </span>
        <img class="user_score_image" src="../../resource/image/Score.svg">
        <span class="text_in_user_score user_score">
            100000
        </span>
    </form>
</body>
</html>